<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776320840278-qv6h04knpqek4dgohbtivsm7jm4t2hd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776320840278-qv6h04knpqek4dgohbtivsm7jm4t2hd3</string>
	<key>API_KEY</key>
	<string>AIzaSyBHy9Ik4vzYu_Hfu5d4YCxofm7IDAKwux4</string>
	<key>GCM_SENDER_ID</key>
	<string>776320840278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lakshanChamika.W-D-L-C-Rathnasiri-COBSCComp201P-017</string>
	<key>PROJECT_ID</key>
	<string>nibm-parking-d9459</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-parking-d9459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776320840278:ios:77033dad1d65a4ab7c01f7</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-parking-d9459-default-rtdb.firebaseio.com</string>
</dict>
</plist>